* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	
}



/* .navbar {
    width: 100%;
} */

header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 80px;
    width: 100%;
    margin: 0;
	padding: 0 2rem;
	background-color: #11113c;
	color: white;
    border-bottom: 0.1px solid white;
}

nav a {
	margin: 0 1rem;
	color: var(--textColor);
	text-decoration: none;
}

nav a:hover {
	color: var(--secondaryColor);
}

header .nav-btn {
	padding: 5px;
	cursor: pointer;
	background: transparent;
	border: none;
	outline: none;
	color: var(--textColor);
	visibility: hidden;
	opacity: 0;
	font-size: 1.8rem;
}

